<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogFile="C:/Tsundoku/Src/NLogInternalLog.log"
      internalLogLevel="Debug">

    <targets>
        <target name="TsundokuLogs"
                xsi:type="File"
                layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=ToString,StackTrace}"
                fileName="${specialfolder:folder=LocalApplicationData}/Tsundoku/Logs/TsundokuLogs.log"
                deleteOldFileOnStartup="true" />

        <target name="Console"
                xsi:type="ColoredConsole"
                enableAnsiOutput="true"
                layout="${longdate} | ${level:uppercase=true:padding=5:fixedLength=true} | ${message} ${exception:format=ToString,StackTrace}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="Console" />
        <logger name="*" minlevel="Info" writeTo="TsundokuLogs" />
    </rules>
</nlog>
