<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="TsundokuLogs" 
                xsi:type="File" 
                async="true" 
                overflowAction="Discard"
                enableAnsiOutput="true" 
                layout="[${environment:PROCESSOR_ARCHITECTURE}-${environment:OS}] ${longdate} | ${level:uppercase=true} > ${message:exceptionSeparator=\r\n:withException=true}" 
                internalLogToConsole="false" 
                fileName="${CurrentDir}/TsundokuLogs.log" 
                deleteOldFileOnStartup="true"/>
	</targets>

	<rules>
		<logger name="TsundokuLogs" minlevel="Debug" writeTo="TsundokuLogs" />
	</rules>
</nlog>
