<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="TsundokuLogs"
                xsi:type="File"
                async="true"
                overflowAction="Discard"
                enableAnsiOutput="true"
                layout="[${environment:PROCESSOR_ARCHITECTURE}-${environment:OS}] ${longdate} | ${level-color}${level:uppercase=true}${level-color} > ${message:exceptionSeparator=\r\n:withException=true}"
                internalLogToConsole="false"
                fileName="${specialfolder:folder=LocalApplicationData}/Tsundoku/Logs/TsundokuLogs.log"
                archiveFileName="${specialfolder:folder=LocalApplicationData}/Tsundoku/Logs/TsundokuLogs.{#}.log"
                archiveEvery="Day"
                archiveAboveSize="10485760"
                archiveNumbering="DateAndSequence"
                maxFileAge="3.00:00:00"
                cleanupFileName="${specialfolder:folder=LocalApplicationData}/Tsundoku/Logs/TsundokuLogs.*.log"
                enableFileDelete="true"
                deleteOldFileOnStartup="false" />

        <target name="Console"
                xsi:type="ColoredConsole"
                enableAnsiOutput="true"
                layout="${longdate} | ${level-color}${level:uppercase=true:padding=5:fixedLength=true}${level-color} | ${message} ${exception:format=ToString,StackTrace}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="Console" />
        <logger name="*" minlevel="Info" writeTo="TsundokuLogs" />
    </rules>
</nlog>